@layer theme, base, mui, components, utilities;

@import 'tailwindcss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@theme {
  /* Mapeo de Tailwind v4 a variables de MUI */
  --color-primary: var(--mui-palette-primary-main);
  --color-on-primary: var(--mui-palette-primary-contrastText);
  --color-primary-container: var(--mui-palette-primaryContainer-main);
  --color-on-primary-container: var(
    --mui-palette-primaryContainer-contrastText
  );

  --color-secondary: var(--mui-palette-secondary-main);
  --color-on-secondary: var(--mui-palette-secondary-contrastText);
  --color-secondary-container: var(--mui-palette-secondaryContainer-main);
  --color-on-secondary-container: var(
    --mui-palette-secondaryContainer-contrastText
  );

  --color-tertiary: var(--mui-palette-tertiary-main);
  --color-on-tertiary: var(--mui-palette-tertiary-contrastText);
  --color-tertiary-container: var(--mui-palette-tertiaryContainer-main);
  --color-on-tertiary-container: var(
    --mui-palette-tertiaryContainer-contrastText
  );

  --color-error: var(--mui-palette-error-main);
  --color-on-error: var(--mui-palette-error-contrastText);
  --color-error-container: var(--mui-palette-errorContainer-main);
  --color-on-error-container: var(--mui-palette-errorContainer-contrastText);

  --color-background: var(--mui-palette-background-default);
  --color-on-background: var(--mui-palette-text-primary);
  --color-surface: var(--mui-palette-background-paper);
  --color-on-surface: var(--mui-palette-text-primary);
  --color-surface-variant: var(--mui-palette-surfaceVariant-main);
  --color-on-surface-variant: var(--mui-palette-surfaceVariant-contrastText);

  --color-outline: var(--mui-palette-outline);
  --color-outline-variant: var(--mui-palette-outlineVariant);
}

/* MUI manejará el modo oscuro automáticamente vía colorSchemeSelector: 'class' */
@layer base {
}
